	<% layout('layout') %>
	<div id="wrapper">

    <% include ./partials/sidebar %>


    <div id="page-content-wrapper">
        <div class="container-fluid main_body">
           <div class="row">
	            <div class="col-lg-12">
					<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
				</div>
	        </div>

                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <p>
                            Register Or Login To Add Companies,Register As Employee,Rate Companies,Review Companies,Send Private Message To Employees
                        </p>
                    </div>
                </div>

        </div>
    </div>

</div>






