<% layout('layout') %>
<div class="container">
    <br><br>
    <div class="text-center reg_msg">
        <h1><a href="/">RateMe</a></h1>
    </div>
   <br><br>




   <div class="text-center reg_msg">
        <h2 class="fancy"><span>Log In</span></h2>
   </div><br>



    <div class="row">

       <div class="col-md-8 mx-auto">

        <% include ../partials/message %>

        <a href="/auth/google" class="btn btn-block btn-social btn-google mb-4 text-center">
          <i class="fab fa-google"></i>
          Sign in with Google
        </a>

       	<form method="POST" class="" id="loginForm" action="/users/login">

       <div class="form-group">
       		<input type="email" name="email" id="email" placeholder="Email" class="form-control">
       	</div>

       	<div class="form-group">
       		<input type="password" name="password" id="password" placeholder="Password" class="form-control">
       	</div>

       	<div class="form-group">
       		<input type="submit" value="Login" class="btn btn-info btn-block">
       	</div>

        <div class="form-group">
          <input type="checkbox" name="rememberme" value="yes" class="">
          &nbsp;&nbsp;Remember Me
        </div>


        </form>

       	<div>
            <h4 class="float-left">Don't have an account? <a href="/users/signup">Register</a></h4>
            <h4 class="float-right">Forgot Your Passowrd? <a href="/users/forgot">Click Here</a></h4>
        </div>

       </div>




    </div>
</div>
