<% layout('layout') %>


<div class="container">
    <br><br>
    <div class="text-center reg_msg">
        <h1><a href="/">RateMe</a></h1>
    </div>
   <br><br>




   <div class="text-center reg_msg">
        <h2 class="fancy"><span>RESET PASSWORD</span></h2>
   </div><br>

    <div class="row">

    <div class="col-md-8 mx-auto">

      <% include ../partials/message %>
      <% include ../partials/validationMessages %>

      <form method="POST" class="" id="signupForm">


		<div class="form-group">
       		<input type="password" name="password" id="password" placeholder="Password" class="form-control">
       	</div>

       	<div class="form-group">
       		<input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" class="form-control">
       	</div>

       	<div class="form-group">
       		<input type="submit" value="Reset Password" class="btn btn-info btn-block">
       	</div>
      <form>




      <div>
        <h4>Already have an account? <a href="/users/login">Login</a></h4>
      </div>

    </div>

    </div>
</div>
